[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jaqs = "*"
"e1839a8" = {path = ".", editable = true}
fire = "*"
pytest = "*"
sqlalchemy = "*"
"py2neo" = "*"

[dev-packages]
pylint = "*"
twine = "*"
