[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jaqs = "*"
"e1839a8" = {path = ".", editable = true}
fire = "*"
pytest = "*"
sqlalchemy = "*"
"py2neo" = "*"
pymongo = "*"
tqdm = "*"
arctic = {git = "https://github.com/manahl/arctic.git"}

[dev-packages]
pylint = "*"
twine = "*"
"flake8" = "*"
