[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arctic = {git = "https://github.com/manahl/arctic.git"}
ta-lib = "*"
tdata = {editable = true, path = "."}
altair = "*"

[dev-packages]
autoflake = "*"
"flake8" = "*"
pytest = "*"
ipykernel = "*"
